@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: black;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1550px;
    height: 900px;
    margin-top: 1%;
    margin-left: 1%;
    text-align:center;
    display: grid;
    grid-template-columns:  350px 1200px ;
    grid-template-rows: 80px 580px 100px;
    grid-gap: 6px;
    border-radius: 10px;
}
.container > *{
    border-radius: 5px;
}
.home{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color:rgba(43, 37, 37, 0.64);
}
.library{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color:rgba(43, 37, 37, 0.64);
}
.recent{
    grid-row: 1/3;
    grid-column: 2/3;
    background-color:rgba(43, 37, 37, 0.64);
}
.footer{
    grid-row: 3/4;
    grid-column: 1/3;
    background-color:black;
}
.home .navigation ul{
    list-style-type: none;
    margin-top: 9px;
}
.home .navigation ul li{
    padding: 2px 0px;
}
.home .navigation ul li a{
    color: #d2c6c6;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 4px 12px 0px;
    margin-left: -9%;
}
.home .navigation ul li a .bi {
    font-size: 20px;
    margin-right: 25px;
}
.home .navigation ul li a:hover{
    text-decoration: underline;
}
.home .navigation ul li a:hover .bi, .home .navigation ul li a:hover .nav-text {
    color: white;
}
.library .navigation ul{
    list-style-type: none;
    margin-top: 9px;
}
.library .navigation ul li{
    padding: 2px 0px;
}
.library .navigation ul li div{
    color: #d2c6c6;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 4px 9px 0px;
    margin-left: -9%;
}
.library .navigation ul li div .bi {
    font-size: 20px;
    margin-right: 15px;
}
.library .navigation ul li div .bi:hover,.library .navigation ul li div .nav-text:hover {
    color: rgb(255, 254, 254);
    cursor: pointer;
}
.library .navigation ul li div .bit{
    margin-left: 100px;
    border: transparent;
}
.library .navigation ul li div .bite{
    margin-left: 10px;
    border: transparent;
}
.library .navigation ul li div .bit:hover{
    border-radius: 50%;
    background-color: #4f474750;
    color: rgb(255, 254, 254);
    cursor: pointer;
}
.library .navigation ul li div .bite:hover{
    border-radius: 50%;
    background-color: #4f474750;
    color: rgb(255, 254, 254);
    cursor: pointer;
}
.library .buttons {
    margin-top: 10px; 
    text-align: center;
    margin-right: 170px;
}
.library .buttons button {
    margin-right: 5px; 
    border: none;
    border-radius: 25px;
    padding: 5px 15px ; 
    background-color: #2d2929;
    color: #eee4e4;
    cursor: pointer;
    transition: background-color 0.5s; 
    width: auto;
    margin-right: 2px;
    font-weight: 525;
}
.library .buttons button:hover {
    background-color: #4f4747d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.library .icon ul {
    list-style-type: none;
}
.library .icon ul li div .bi{
    border: transparent;
    font-size: 15px;
    margin-top: 2px;
    padding: 3px;
}
.library .icon ul li div .bit{
    border: transparent;
    font-size: 13px;
    margin-left: 225px;
}
.library .icon ul li div .bi:hover{
    border-radius: 50%;
    background-color: #5b54548a;
    color: rgb(255, 254, 254);
    cursor: pointer;
}
.library .icon ul li div .bit:hover{
    color: rgb(255, 254, 254);
    cursor: pointer;
}
.library .menu_song {
    overflow-y: auto;
    max-height: 493px;
    padding-top: 4px;
}
.songItem {
    display: flex;
    align-items: center;
}
.songItem img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 4px;
}
.songItem h5 {
    margin: 0;
    color: #e0d6d6;
    text-align: left;
}
.songItem .subtitle {
    font-size: 14px;
    color: #9a9292dc;
}
.library .menu_song::-webkit-scrollbar {
    width: 4px;
    color: transparent;
}
.library .menu_song::-webkit-scrollbar-thumb {
    background-color: rgba(60, 56, 56, 0.505);
    border-radius: 11px;
}
.library .menu_song::-webkit-scrollbar-track {
    background-color: transparent; 
}
.library .menu_song .icon {
    color: #d2c6c6;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 1px 9px 0px;
    margin-left: -9%;
}
.library .menu_song .songItem{
    transition: .3s linear;
    padding: 6px 0px 6px 0px;
}
.library .menu_song .songItem:hover{
    background: rgba(153, 153, 200, 0.24);
    cursor: pointer;
}
.recent nav{
    width: 100%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    position: sticky;
}
.recent nav ul{
    list-style-type: none;
}
.recent nav ul li div{
    color: #d2c6c6;
    font-weight: bold;
    font-size: 27px;
    display: flex;
    align-items: center;
}
.recent nav ul li div .bi {
    margin-left: 0%; 
}
.recent nav ul li div .bit {
    margin-left: 1%;
}
.recent nav ul li div .bi:hover,
.recent nav ul li div .bit:hover{
    border-radius: 40%;
    color: rgb(255, 254, 254);
    cursor: not-allowed;
}
.recent nav ul li div .bis {
    margin-left: 1%;
    margin-right: 890px;
}
.recent nav ul li div .bis:hover{
    border-radius: 40%;
    color: rgb(255, 254, 254);
    cursor: pointer;
}
.recent nav ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.profile-btn img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.recent {
    grid-row: 1/3;
    grid-column: 2/3;
    background-color: rgba(43, 37, 37, 0.64);
    overflow-y: auto;
}
.recent nav {
    width: 100%;
    height: 8%;
    margin: auto;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.recent h2{
    font-size: 35px;
    color: #f4ecec;
    text-align: left;
    margin-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
}
.recent h2:hover{
    cursor: pointer;
    color: #fff;
    font-size: 36px;
    text-decoration: underline;
}
.scard{
    height: 230px;
    width: 230px;
    border-radius: 0.5rem;
    margin: 1.5rem 5px 0 3%;
    transition: all ease-in-out 0.2s;
}
.scard:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.scard-head{
    padding-top: 0.25rem;
    padding-left: 2px;
}
.browse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer .master_play{
    display: flex;
    align-items: center;
    margin-top: -0.75%;
    margin-left: 1%;
    margin-bottom: 1%;
}
.footer .master_play .wave{
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
}
.footer .master_play .wave .wave1{
    width: 3px;
    height: 10px;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    background: #e2e5e6;
    animation: wave .5s linear infinite;
}
.footer .master_play .wave .wave1:nth-child(2){
    height: 13px;
    animation-delay: .4s;
}
.footer .master_play .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
}
@keyframes wave{
    0%{
        height: 9px;
    }
    50%{
        height: 16px;
    }
    100%{
        height: 9px;
    }
}
.footer .master_play img{
    width: 38px;
    height: 38px;
    border-radius: 5px;
    margin-left: -0.5%;
}
.footer .master_play h5{
    width: 110px;
    font-size: 13px;
    margin-left: 9px;
    color: #fff;
    line-height: 15px;
}
.footer .master_play h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
}
.footer .master_play .icon{
    font-size: 28px;
    color: #ece0e0;
    margin: 0px 20px 0px 90px;
}
.footer .master_play .icon .bi{
    cursor: pointer;
    outline: none;
}
.footer .master_play span{
    color: #fff;
    width: 36px;
    font-size: 15px;
    font-weight: 400;
}
.footer .master_play #currentStart{
    margin: 0px 0px 0px 20px;
}
.footer .master_play .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgba(27, 220, 130, 0.1);
    margin: 0px 15px 0px 10px;
}
.footer .master_play .bar .bar2{
    position: absolute;
    background: rgba(52, 46, 46, 0.2);
    width: 40%;
    height: 100%;
    top: 0;
}
.footer .master_play .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(49, 184, 83);
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
.footer .master_play .bar .dot::before{
    content: ' ';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid rgb(23, 189, 56);
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px rgb(232, 240, 233);
}
.footer .master_play .bar input{
    position: absolute;
    width: 100%;
    margin-left: -0.75%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}
.footer .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 50px;
    background: rgba(115, 115, 179, 0.2);
}
.footer .master_play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -15px;
    left: -30px;
}
.footer .master_play .vol input{
    position: absolute;
    width: 100%;
    margin-left: -0.75%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    transition: 3s linear;
    opacity: 0;
}
.footer .master_play .vol .vol_bar{
    position: absolute;
    background: rgb(222, 216, 216);
    width: 0%;
    height: 100%;
    top: 0;
}
.footer .master_play .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgb(49, 184, 83);
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}
.footer .master_play .vol .dot::before{
    content: ' ';
    position: absolute;
    width: 15px;
    height: 15px;
    border:1px solid rgb(23, 189, 56);
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px rgb(232, 240, 233);
}